<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta property="og:url" content="{{ page.URL }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.desc }}"/>
<meta property="og:image" content="{{ page.img }}" />
<meta property="og:image:alt" content="{{ page.alt }}" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{ page.img }}" />
    <meta name="twitter:image:alt" content="{{ page.alt }}" />
    <meta name="twitter:description" content="{{ page.desc }}" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.png">
<title>{{ page.title }} | {{site.name}}</title>
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet">

<!-- start Mixpanel --><script type="text/javascript">(function(c,a){if(!a.__SV){var b=window;try{var d,m,j,k=b.location,f=k.hash;d=function(a,b){return(m=a.match(RegExp(b+"=([^&]*)")))?m[1]:null};f&&d(f,"state")&&(j=JSON.parse(decodeURIComponent(d(f,"state"))),"mpeditor"===j.action&&(b.sessionStorage.setItem("_mpcehash",f),history.replaceState(j.desiredHash||"",c.title,k.pathname+k.search)))}catch(n){}var l,h;window.mixpanel=a;a._i=[];a.init=function(b,d,g){function c(b,i){var a=i.split(".");2==a.length&&(b=b[a[0]],i=a[1]);b[i]=function(){b.push([i].concat(Array.prototype.slice.call(arguments,
0)))}}var e=a;"undefined"!==typeof g?e=a[g]=[]:g="mixpanel";e.people=e.people||[];e.toString=function(b){var a="mixpanel";"mixpanel"!==g&&(a+="."+g);b||(a+=" (stub)");return a};e.people.toString=function(){return e.toString(1)+".people (stub)"};l="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
for(h=0;h<l.length;h++)c(e,l[h]);var f="set set_once union unset remove delete".split(" ");e.get_group=function(){function a(c){b[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));e.push([d,call2])}}for(var b={},d=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<f.length;c++)a(f[c]);return b};a._i.push([b,d,g])};a.__SV=1.2;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
MIXPANEL_CUSTOM_LIB_URL:"file:"===c.location.protocol&&"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js";d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d)}})(document,window.mixpanel||[]);
mixpanel.init("7193c11f7298a1238f23cebe3e4c10fc");</script><!-- end Mixpanel -->

</head>

{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{ layout }}">

<!-- Begin Menu Navigation
================================================== -->
<header class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsWow" aria-controls="navbarsWow" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">

      <!-- Begin Logo -->
      <a class="navbar-brand" href="{{ site.baseurl }}/index.html">
      <img src="https://www.staleblock.com/assets/images/logo.png" alt="{{ site.name }}">
      </a>
      <!-- End Logo -->

      <!-- Begin Menu -->
      <div class="collapse navbar-collapse" id="navbarsWow">

          <!-- Begin Menu -->
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a class="nav-link" href="https://ar.staleblock.com/">AR</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://es.staleblock.com/">ES</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://fr.staleblock.com/">FR</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://hi.staleblock.com/">HI</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://ms.staleblock.com/">MS</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://ru.staleblock.com/">RU</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://zh.staleblock.com/">ZH</a>
            </li>

          </ul>
          <!-- End Menu -->
        </div>
    </div>

</header>

<!-- End Menu Navigation
================================================== -->


<div class="site-content">

    <div class="container">

    <!-- Site Title
    ================================================== -->

    <div class="mainheading" style="display:none;">
        <h1 class="sitetitle">{{ site.name }}</h1>
        <p class="lead">
             {{ site.description }}
        </p>
    </div>

    <script id="dsq-count-scr" src="//bitcoin-cash.disqus.com/count.js" async></script>

    <!-- Content
    ================================================== -->
    <div class="main-content">
        {{ content }}
    </div>

    </div><!-- /.container -->

    <!-- Begin Footer
    ================================================== -->
    <footer class="footer">

        <div class="container">

            <div class="row">

              <div class="col-sm-3">
                <div class="footer-widget">
                  <a href="http://bit.ly/www-bitsgap" target="_blank""><img src="http://www.all-faucets.com/assets/images/bitsgap-02.png" alt="Bitsgap - Cryptocurrency Trading Bot"/></a>
                  <p> </p>
                  <a href="http://bit.ly/www-bitsgap" target="_blank""><img src="http://www.all-faucets.com/assets/images/bitsgap-03.png" alt="Start with a 14-day free trial. No credit card required."/></a>
                </div>
              </div>

              <div class="col-sm-3">
              <div class="footer-widget">
              <h5 class="title"><a href="http://bit.ly/www-bitsgap" target="_blank">Bitsgap - Cryptocurrency Trading Bot</a></h5>
              An automated solution for Cryptocurrency Trading, Portfolio Management and Arbitrage. Start with a 14-day free trial, no credit card required,
              and connect your existing exchange account (Binance, Coinbase etc) to Bitsgap Trading Bot.
              <p> </p>
              Explore one of many existing strategies. <a href="http://bit.ly/www-bitsgap" target="_blank">Read on.</a>
              </div>
              </div>

                <div class="col-sm-3">
                <div class="footer-widget">
                  <a href="http://bit.ly/www-binance" target="_blank"><img src="http://www.all-faucets.com/assets/images/binance-01.png" alt="Binance.com - World's Leading Cryptocurrency Exchange"/></a>
                  <p> </p>
                  Binance is a global cryptocurrency exchange that provides a platform for trading more than 150 cryptocurrencies.
                  </div>
                </div>

                <div class="col-sm-3">
                <div class="footer-widget">
                <h5 class="title"><a href="http://bit.ly/www-binance" target="_blank">Binance.com - World's Leading Cryptocurrency Exchange</a></h5>
                Binance is considered to be one of the a safest platforms for cryptocurrency traders due to its built in security and low trading fees.
                To get started you can buy crypto with s credit card and start trading in minutes.
                <p> </p>
                Trade manually or use an API to connect a trading bot such as <a href="http://bit.ly/www-bitsgap" target="_blank">Bitsgap</a>. <a href="http://bit.ly/www-binance" target="_blank">Start trading.</a>
                </div>
                </div>

            </div>

            <div class="copyright">
                <p class="pull-left">
                Copyright © 2019 StaleBlock.com. This site uses cookies to enhance your experience.
                </p>
                <p class="pull-right">

                </p>
                <div class="clearfix">
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

</div> <!-- /.site-content>

<!-- JavaScript
================================================== -->

<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>
<script type='text/javascript' src='{{ site.baseurl }}/assets/js/masonry.pkgd.min.js'></script>
<script src="{{ site.baseurl }}/assets/js/theme.js"></script>

</body>
</html>
